{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": [
        "*.json",
        ".*rc"
      ],
      "options": {
        "parser": "json",
        "printWidth": 0,
        "tabWidth": 2
      }
    },
    {
      "files": [
        "*.yml"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ],
  "printWidth": 100,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "es5",
  "useTabs": false
}
